html {
  background-color: antiquewhite;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
}
#pic1 {
  width: 400px;
  height: auto;
}
.title {
  text-align: center;
}
.toc {
  width: 70%;
}
p {
  text-indent: 30px;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
a:hover {
  color: grey;
}
.links {
  padding: 10px;
}
#social,
#introduction,
#revised {
  margin-top: 5px;
  margin-bottom: 40px;
}
